.container{
    max-width: var(--container-max-width);
    width: 100%;
    height: 100%;
}

section{
    padding: var(--section-padding-y) var(--section-padding-x);
    background-color: hsl(var(--bg-page));
    display: grid;
    place-items: center;
}