.footer-main{
    border-top: 1px solid hsl(var(--color-gold)/0.5);
    display: grid;
    place-items: center;
    padding: var(--space-25) 0 0;
    background-color: hsl(var(--color-black)/0.07);
}
.link-col
{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-blk,
.social-blk{
    display: flex;
    justify-content: flex-start;
    gap: var(--space-10);
}

.ft-lnk{
    font-weight: 500;
    padding: var(--space-4) var(--space-7);
    border: 0;
    border-radius: var(--radius-md);
    transition: all var(--transition-fast2);

}

.ft-lnk:hover{
    background-color: hsl(var(--color-gold)/0.2);
}

.social-lnk{
    padding: var(--space-3);
    width: var(--space-17);
    border: 0;
    border-radius: var(--radius-full);
    transition: all var(--transition-fast2);
}

.social-lnk img{
    width: 100%;
}
.social-lnk:hover{
    background-color: hsl(var(--color-gold)/0.5);
}

.line-ft{
    width: 100%;
    height: 2px ;
    margin: var(--space-17) 0;
    background-color: hsl(var(--color-gold)/0.5);
}

.ft-txt{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--space-17);
}

.ft-img-blk{
    width: 100%;
    height: 60vh;

    position: relative;
    isolation: isolate;
}

.ft-img-blk:before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: hsl(var(--color-black)/0.6);
    z-index: 1
}

.ft-img-blk img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


    

