.header{
    width: 100%;
    padding: var(--space-5);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--bg-page));
    position: fixed;
    top: 0;
    z-index: 100;
    
}