.header{
    width: 100%;
    padding: var(--space-5);
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(var(--color-gray));
    border-bottom: 1px solid hsl(var(--color-gold)/0.5);
    position: fixed;
    top: 0;
    z-index: 100;

    
}