.nav-btns{
    display: flex;
    flex-direction: row;
    gap: var(--nav-btn-gap);
}

.nav_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--btn-primary-bg);
    color: var(--text-inverse);
    padding: var(--spacing-3);
    gap: var(--spacing-3);

}

.nav_btn-img{
    width: var(--spacing-5);
}