
/* house cards */
.house-courosel {
    overflow: hidden;
    width: 100%;
    
}

.house-track {
    display: flex;
    gap: var(--space-7);
    padding: var(--space-3) var(--space-6);
}

.house-card {
    flex: 0 0 350px;
    border: none;
    border-radius: var(--radius-md);
    overflow: hidden;
    box-shadow: var(--shadow-sm);
    background-color: hsl(var(--color-gray-soft));
}

/* HOUSE CARD IMAGE */
.house-img-bx {
    width: 100%;
    aspect-ratio: 18 / 11;
    position: relative;
    overflow: hidden;
}

.house-img-track {
    display: flex;
    width: 100%;
    height: 100%;
}

.house-img-slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
}

.house-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* HOUSE CARD DETAILS */

.house-det{
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: flex-start;
    padding: var(--space-8);
    
}

.house-deets{
    display: flex;
    margin-bottom: var(--space-2);
}

.price{
    font-size: var(--text-4xl);
    line-height: 1;
}

.det-icons{
    display: flex;
    align-items: center;
    gap: var(--space-10);
}

.det-spn{
    display: flex;
    gap: var(--space-2);
    align-items: center;
    justify-content: flex-start;
}

.det-spn p{
    font-family: var(--font-heading);
    font-size: var(--text-2xl);
    line-height: 1;
}

.det-icn{
    width: var(--space-6);
}

.house-det-rgt{
    display: flex;
    gap: var(--space-8);
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 ;
}

.house-add{
    margin-top: 0.13rem;
}

.house-add-txt{
    font-family: var(--font-heading);
    font-size: var(--text-xl);
    line-height: 1;
}


/* HOUSE TRACK END  */
.trk-end{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-6);
    padding: var(--space-7) ;
}

.trk-end-img-bx{
    width: 25%;
}

.trk-end-img{
    width: 100%;
}

.trk-end-txt{
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.trk-end-sm{
    font-size: var(--text-2xl);
    font-family: var(--font-heading);
    color: hsl(var(--color-black));
}
.trk-end-he{
    font-size: var(--text-3xl);
    font-weight: 500;
    font-family: var(--font-heading);
    text-align: center;  
    color: hsl(var(--color-black)); 
}

.trk-end-btn{
    width: 100%;
    padding: var(--space-5);
    background-color: hsl(var(--color-gold));
    color: hsl(var(--btn-primary-text));
    font-weight: 700;
    font-family: var(--font-heading);
    text-align: center;
    border: 2px solid hsl(var(--color-gold));
    border-radius: var(--radius-md);
    font-size: var(--text-3xl);
    transition: all var(--transition-fast2);
}

.trk-end-btn:hover{
    background-color:  hsl(var(--color-gold)/0.1);
    color: hsl(var(--color-gold));

}


/* SERVICE CARDS */

.service-cards{
    display: grid;
    grid-template-columns: repeat(4, 310px);
    gap: var(--space-7);
    justify-content: center;
    align-items: stretch;
}

.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-10);
    background-color: hsl(var(--color-gray-soft));
    max-width: 310px;
    min-width: 0;
    padding: var(--space-7);
    border: 2px solid black;
    border-radius: var(--radius-lg);
    transition: all var(--transition-bounce);
}

/* SERVICE CARD- contents */
.service-img-bx{
    width: 70%;
    padding: var(--space-10);
    border-radius: var(--radius-lg);
    overflow: hidden;
    border-radius: var(--radius-full);
    background: hsl(var(--color-gold)/0.2);
    transition: all var(--transition-normal);
}

.service-img{
    width: 100%;
}

.service-txt{
    width: 100%;
    text-align: center;
    flex: 1;
}

.service-title{
    font-size: var(--text-5xl);
    margin-bottom: var(--space-4);
}

.service-desc{
    font-size: var(--text-3xl)
}


.service-card:hover{
    transform: translateY(-7px);
    border: 2px solid hsl(var(--color-gold));
}

.service-card:hover .service-title{
    color: hsl(var(--text-accent));
}

.service-card:hover .service-img-bx{
    background: hsl(var(--color-gold)/0.7);
    
}


/* PROPERTY PAGE CARD */

.property-infos{
    padding: var(--space-6) 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--space-6);
    width: 100%;
    max-width: 1100px;
}
.property-info-rht{
    display: flex;
    flex-direction: column;
    flex: 0 0 370px;
    gap: var(--space-6);
    background-color: hsl(var(--bg-page));
    width: min(100%, 370px);
    padding: var(--space-10);
    border: 1px solid hsl(var(--color-gold)/0.5);
    border-radius: var(--radius-md);
    transition: all var(--transition-fast2);
}

/* PROPERTY INFO RIGHT */

.info-rht-action{
    width: 100%;
}

.info-rht-action button,
.info-rht-action a
{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: var(--button-padding-y) var(--button-padding-x);
    border: 1px solid hsl(var(--color-black));
    border-radius: var(--radius-lg);
    font-weight: 500;
    font-size: var(--text-3xl);
    margin-bottom: var(--space-3);
}

.info-rht-action .rqst-btn{
    background-color: hsl(var(--color-gold));
    color: hsl(var(--color-white));
    border: 1px solid hsl(var(--color-gold));
}

.info-rht-action .rqst-btn:hover{
    background-color: hsl(var(--color-gold)/0.8);
}

.info-rht-action .offer-btn:hover{
    background-color: hsl(var(--color-black));
     color: hsl(var(--color-white));
}

.offer-txt,
.rqst-txt{
    font-size: var(--text-xl);
    color: hsl(var(--color-black)/0.85);
}

.info-rht-btns{
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid hsl(var(--color-gold)/0.4);
}

.info-rht-btn1,
.info-rht-btn2{
    width: 100%;
    padding: var(--space-3) ;
    font-size: var(--text-2xl);
    color: hsl(var(--color-forest-medium));
    font-weight: 800;
   
}

.info-rht-btn1{
    
    border-right: 1px solid hsl(var(--color-gold)/0.4);
}

/* PROPERTY INFO LEFT */
.property-info-lft{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    min-width: 0;
}

.property-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-7);
    border: 1px solid hsl(var(--color-gold)/0.5);
    border-radius: var(--radius-lg);
    padding: var(--space-10);
    background-color: hsl(var(--bg-page));
    transition: all var(--transition-fast1);
}

.property-info:hover,
.property-info-rht:hover{
    border-color: hsl(var(--color-gold));
    background-color: hsl(var(--color-white));
    
}


/* PROPERTY INFO LEFT INNER */

.info-col{
    display: flex;
    flex-direction: row;
}

.sale-deets{
    flex: 1 1 auto;
}

.flex-pn{
     display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.deet-hd{
    margin-bottom: var(--space-3);
    
}

.deet-hd:hover .dot{
    background-color: hsl(var(--color-emerald));
}

.dot{
    display: block;
    height: var(--space-5);
    width: var(--space-5);
    border-radius: var(--radius-full);
    background: hsl(var(--color-gold));
    transition: all var(--transition-fast2);
}


.sale-deet-sle{
    font-weight: 300;
    font-size: var(--text-2xl);
}

.sale-deet{
    align-items: center;
    display: flex;
    gap: var(--space-4);
    flex: 1 1 auto;
    min-width: none;
}

.price-deets{
    gap: var(--space-8);
}

.price-deets:hover .price-info{
    background-color: hsl(var(--color-gold)/0.2);
    border-radius: var(--radius-md);
    padding: var(--space-2) var(--space-5);
} 

.sale-locat{
    flex: 0 0 150px;
}

.locat-img{
    width: 100%;
    object-fit: cover;
}

/* tooltip */

.price-deet{
    font-size: var(--text-4xl);
    font-weight: 700;
}

.price-info {
    position: relative;
    display: flex;
    gap: var(--space-3);
    padding: var(--space-1) var(--space-5);
    background-color: hsl(var(--color-gold)/0.19);
    transition: all var(--transition-normal);
}

.price-info a{
    font-weight: 800;
    color: hsl(var(--color-gold));
}

.price-deet-btn {
    width: var(--space-6);
    cursor: pointer;
    font-weight: 500;
    font-size: var(--text-2xl);
    border-radius: 50%;
    color: hsl(var(--color-gold));
   
}

.price-deet-img{
    width: 100%;
}

.tool-tip-info {
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;

    width: 250px;
    padding: var(--space-4);

    background: white;
    border: 1px solid hsl(var(--color-gold) / 0.5);
    border-radius: var(--radius-md);

    box-shadow: 0 4px 15px rgb(0 0 0 / 15%);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: translate(-50%, 5px);

    transition:
        opacity 150ms ease,
        transform 150ms ease,
        visibility 150ms ease;
}

.tool-tip-info.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transform: translate(-50%, 0);
}

.hous3-adds{
    font-size: var(--text-2xl);
    font-weight: 500;
    text-decoration: none;
}

.furn{
    gap: var(--space-6);
}

.furn:hover .furn-dot{
    background-color: hsl(var(--color-gold));
}

.furn-txt{
    font-weight: 800;
    font-size: var(--text-3xl);
}

.furn-dot{
    width: var(--space-2);
    height: var(--space-2);
    background-color: hsl(var(--color-black));
    border-radius: 100%;
    transition: all var(--transition-fast1);
}

/* PROPERTY ABOUT CARD */

.prop-abt-head{
    font-size: var(--text-4xl);
    font-weight: 700;
}

.prop-abt-cnt{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-7);
    
}

.prop-abt-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: var(--space-5);
}

.prop-abt-card{
    display: flex;
    flex: 1 1 auto;
    gap: var(--space-8);
    align-items: center;
    padding: var(--space-4);
    border-radius: var(--radius-md);
    background-color: hsl(var(--color-gold) / 0.05);
    transition: all var(--transition-fast1);
}

.prop-abt-card:hover{
    background-color: hsl(var(--color-gold) / 0.2);
}

.abt-card-img-bx{
    width: var(--space-10);
}

.abt-card-txt1{
    font-weight: 600;
}

.abt-card-txt2{
    font-weight: 400;
    color: hsl(var(--color-black)/0.6);
}

/* OWNER DETAIL */

.abt-owner-deets{
    width: 100%;
}

.abt-owner-deet{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-4);
}

.abt-owner-txt{
    font-size: var(--text-2xl);
    font-weight: 500;
}

.abt-owner-dot{
    display: block;
    background-color: hsl(var(--color-black));
    width: var(--space-2);
    height: var(--space-2);
    border: none;
    border-radius: var(--radius-full);
    transition: all var(--transition-fast2);
}

.abt-owner-flex{
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--space-5);
}

.abt-owner-flex1{
    display: flex;
    align-items: center;
    gap: var(--space-4);
}

.owner-flex-lnk{
    color: hsl(var(--color-emerald));
    font-weight: 700;
}

.abt-owner-deet2{
    margin-top: var(--space-4);
}

.prop-abt-stats{
    margin-inline: calc(-1 * var(--space-10));
    margin-bottom: calc(-1 * var(--space-10));
    padding: var(--space-6) var(--space-10);
    background-color: hsl(var(--color-gold)/0.05);
    display: flex;
    align-items: center;
    gap: var(--space-5);
    border: none;
    border-radius:0 0 var(--radius-lg)  var(--radius-lg);
    transition: all var(--transition-fast2);
    
}

.prop-abt-stats:hover
{
    background-color: hsl(var(--color-gold)/0.2);
}
.prop-abt-stats:hover .abt-owner-dot{
    background-color: hsl(var(--color-gold));
}


.abt-stats-in{
    display: flex;
    gap: var(--space-4);
}

.abt-stats-bold{
    font-weight: 800;
}

/* PRICE CALC CARD */

.prop-calc:hover .calc-info-grid{
    background-color: hsl(var(--color-white));
}

.prop-calc-hd{
    font-size: var(--text-4xl);
    font-weight: 700;
}

.prop-calc-cnt1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-7);
}
.prop-calc-prc{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calc-prc-bx{
    display: flex;
    align-items: center;
    gap: var(--space-5);
}

.calc-prc-hd{
    font-size: var(--text-5xl);
}

.calc-prc-rst{
    font-size: var(--text-2xl);
    color: hsl(var(--color-emerald));
    font-weight: 800;
}

.color-bxs{
    width: 100%;
    height: var(--space-4);
    border-radius: var(--radius-lg);
    display: flex;
    border-radius: var(--radius-2xl);
    overflow: hidden;
}


.orange,
.blue,
.yellow,
.sky-b{
    height: 100%;
}

.sky-b{
    width: 60%;
    background-color: hsl(var(--color-sky-blue));
}

.blue{
    width: 20%;
    background-color: hsl(var(--color-paper-pink));
}

.orange{
    width: 15%;
    background-color: hsl(var(--color-blue));
}

.yellow{
    width: 6%;
    background-color: hsl(var(--color-yellow));
}


.calc-grid-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--space-1);

}

.calc-grid-card{
    min-width: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-2);
    
}

.calc-grid-card:hover .calc-dot{
    background-color: hsl(var(--color-gold));
}

.calc-in-lft{
    display: flex;
    align-items: center;
    gap: var(--space-5);
}

.calc-dot{
    display: block;
    width: var(--space-4);
    height: var(--space-4);
    border: none;
    border-radius: var(--radius-full);
    transition: all var(--transition-normal);
}

.color1{
    background-color: hsl(var(--color-sky-blue));
}

.color2{
    background-color: hsl(var(--color-paper-pink));
}

.color3{
    background-color: hsl(var(--color-blue));
}

.color4{
    background-color: hsl(var(--color-yellow));
}

.color5{
    background-color: hsl(var(--color-gray-300));
}

.calc-desc{
    font-weight: 600;
}

.calc-in-rt{
    font-weight: 800;
    color: hsl(var(--color-emerald));
}

.calc-in-rt-btn{
    font-weight: 800;
    font-size: var(--text-2xl);
    color: hsl(var(--color-emerald));   
}

.calc-info-grids{
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(2, 1fr);
    background-color: hsl(var(--color-black));
    border: 1px solid hsl(var(--color-black));
    border-radius: var(--radius-lg);
    overflow: hidden;
}

.calc-info-grid:nth-child(3){
    grid-column: 1 / -1;
}

.calc-info-grid{
    width: 100%;
    min-width: 0;
    padding: var(--space-8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(var(--bg-page));
    transition: all var(--transition-fast2);
}

.prop-calc:hover .calc-info-grid:hover{
    background-color: hsl(var(--color-gold-light));
}

.info-grid-rt-img{
    width: var(--space-10);
}
.grid-lf-main{
    text-align: left;
}

.grid-lf-txt{
    text-align: left;
    font-weight: 600;
    font-size: var(--text-3xl);
}

.calc-cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-3) 0;
}

.calc-actions{
    display: flex;
    align-items: center;
    gap: var(--space-5);
}

.calc-actions {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.calc-tip {
    position: relative;
}

.calc-action-tip {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: hsl(var(--color-black) / 0.7);
    color: hsl(var(--color-white));
    width: var(--space-5);
    height: var(--space-5);
    padding: 0;

    font-size: var(--text-sm);
    border: 0;
    border-radius: var(--radius-full);

    cursor: pointer;
    transition: all var(--transition-normal);
}

.calc-action-tip:hover{
    background-color: hsl(var(--color-gold));
}

.calc-tooltip {
    position: absolute;
    bottom: calc(100% + var(--space-2));
    left: 50%;
    transform: translateX(-50%);

    width: max-content;
    max-width: 250px;

    padding: var(--space-7);
    background-color: hsl(var(--bg-page));
    box-shadow: var(--shadow-md);
    color: hsl(var(--color-black));
    border: 1px solid hsl(var(--color-gold));
    border-radius: var(--radius-lg);

    font-size: var(--text-2xl);
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: var(--transition-fast2);
}

.calc-tip:hover .calc-tooltip,
.calc-tip:focus-within .calc-tooltip {
    opacity: 1;
    visibility: visible;
}

.calc-action-btn,
.time-btn
{
    padding: var(--space-5)  var(--space-8);
    background-color: hsl(var(--color-black));
    color: hsl(var(--color-white));
    font-size: var(--text-2xl);
    font-weight: 700;
    border: 0;
    border-radius: var(--radius-lg);
    transition: all var(--transition-fast2);
}

.calc-action-btn:hover,
.time-btn:hover
{
    background-color: hsl(var(--color-gold));
}


/* TIME AND DATE REsERVATION */

.date-carosel,
.time-carosel
{
    overflow: hidden;
}

.time-carosel{
    width: 66%;
}

.date-track,
.time-track
{
    display: flex;
    gap: var(--space-3);
    padding: var(--space-3);
}

.date-crd,
.time-card
{
    text-align: center;
    padding: var(--space-5);
    border: 1px solid hsl(var(--color-black)/0.4);
    border-radius: var(--radius-lg);
    transition: all var(--transition-fast2);
}

.date-crd{
    flex: 0 0 150px;
}

.time-card{
    flex: 0 0 100px;
    font-size: var(--text-2xl);
}

.date-crd:hover,
.time-card:hover
{
    border-color: hsl(var(--color-emerald));
    color: hsl(var(--color-emerald));
}

.timedate-hd{
    font-size: var(--text-4xl);
}

.date{
    font-size: var(--text-5xl);
    font-weight: 800;
}

.time-carosel-out{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opu-hs{
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    border-top: 1px solid hsl(var(--color-black)/0.3);
    padding: var(--space-5) 0;
}

.opu-hs-hd{
    font-size: var(--text-4xl);
}

.opu-hs-txt{
    color: hsl(var(--color-black) / 0.6);
}

/* SIMILAR HOUSES SECTION */

.similar-hd{
    font-size: var(--text-5xl);
    font-weight: 800;
}

