.header{
    width: 100%;
    padding: var(--container-padding-x);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--bg-page));
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-box{
    color: var(--text-heading);
}

.logo-txt{
    font-family: var(--font-logo);
    font-size: var(--text-4xl);
    font-weight: 900;
    color: var(--text-heading);
}

.nav-links-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-1);
}

li .nav-link{
    padding: var(--nav-btn-pad-y) var(--nav-btn-pad-x);
    border: none;
    border-radius: var(--space-2);
    background: transparent;
    transition: all var(--transition-fast2);
}
li .nav-link:hover{
    background: hsl(var(--btn-primary-hover));
    color: hsl(var(--btn-primary-text));
}

