.header{
    width: 100%;
    padding: var(--space-5);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--bg-page));
    position: fixed;
    top: 0;
    z-index: 100;
    
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-box{
    color: var(--text-heading);
}

.logo-txt{
    font-size: var(--text-4xl);
    font-weight: 900;
    color: var(--text-heading);
}

.nav-links-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);
}

li .nav-link{
    padding: var(--nav-btn-pad-y) var(--nav-btn-pad-x);
    border: none;
    border-radius: var(--space-2);
    background: transparent;
    transition: all var(--transition-fast2);
    font-size: var(--text-3xl);
    font-weight: 700;
}
li .nav-link:hover{
    background: hsl(var(--color-gold));
    color: hsl(var(--btn-primary-text));
}

