/* nav bar */

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav_bar{
    padding : var(--nav-padding-y) var(--nav-padding-x);
    backdrop-filter: var(--blur-over);
    -webkit-backdrop-filter: var(--blur-over);
    border-radius: 0 0 var(--radius-sm) var(--radius-sm);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.nav-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

/* nav logo */

.nav_logo-box{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: var(--spacing-3);
    height: 100%;
}

.nav_logo-in{
    display: flex;
    align-items: center;
    max-width: var(--spacing-16);
}

.logo_txt-out {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   align-items: center;
}

.logo_txt-main{
    font-size: var(--spacing-7);
}

.logo{
    height: var(--spacing-12);
    width: auto;
}


/* nav links */
.nav_links-list
{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: var(--spacing-8);
}

