
.properties-feed{
    padding: var(--space-2) 0;
}

.feed-filter-btns{
    position: sticky;
    top: 65.5px;
    z-index: 100;
    width: 100%;
    background-color: hsl(var(--bg-page));
    border-bottom: 1px solid hsl(var(--color-gold)/0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-5) 0;
}

.feed-filter-btns-in{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-btn-box{
    display: flex;
    gap: var(--space-17);
    align-items: center;
}

.feed-filter-btn{
    padding: var(--button-padding-y)  var(--button-padding-x);
    background: hsl(var(--color-white));
    border: 1px solid hsl(var(--color-black)/0.2);
    border-radius: var(--radius-lg);
    font-size: var(--text-2xl);
    font-weight: 600;
    font-family: var(--font-heading);
    transition: all var(--transition-normal);
}

.feed-filter-btn:hover{
    background: hsl(var(--color-gold));
    color: hsl(var(--color-white));
    border-color: hsl(var(--color-gold));
}

.filter-sett-btn{
    display: flex;
    gap: var(--space-3);
    color: hsl(var(--color-gold));
    align-items: center;
    justify-content: space-between;
    font-size: var(--text-2xl);
    font-weight: 800;
}

.sett-svg{
    width: var(--space-10);
}

.main-feed {
    padding: var(--space-24) 0;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
    gap: var(--space-5);
    justify-content: center;
}